In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib widget

In [56]:
import os
import altair as alt
print(os.path.expanduser('~'))

C:\Users\Zade

In [5]:
#disable max rows error for this dataset
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [6]:
datapath = "~\\Desktop\\mastersCoursework\\data_vis\\Data\\nypd_shooting_data_historic.csv"
#read in data, keep only the columns we may actually use, discard ones like incident_key which only matter to the police
cols_we_want = ['OCCUR_DATE', 'OCCUR_TIME', 'BORO', 'PRECINCT', 'LOCATION_DESC', 'STATISTICAL_MURDER_FLAG', 'PERP_AGE_GROUP', 'PERP_SEX', 'PERP_RACE',
               'VIC_AGE_GROUP', 'VIC_SEX', 'VIC_RACE', 'Latitude', 'Longitude']
df = pd.read_csv(datapath, usecols = cols_we_want)
df.head()

,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,Latitude,Longitude
0,08/23/2019,22:10:00,QUEENS,103,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,40.697805,-73.808141
1,11/27/2019,15:54:00,BRONX,40,NaN,False,<18,M,BLACK,25-44,F,BLACK,40.818700,-73.918571
2,02/02/2019,19:40:00,MANHATTAN,23,NaN,False,18-24,M,WHITE HISPANIC,18-24,M,BLACK HISPANIC,40.791916,-73.945480
3,10/24/2019,00:52:00,STATEN ISLAND,121,PVT HOUSE,True,25-44,M,BLACK,25-44,F,BLACK,40.638064,-74.166108
4,08/22/2019,18:03:00,BRONX,46,NaN,False,25-44,M,BLACK HISPANIC,18-24,M,BLACK,40.854547,-73.913339

In [7]:
df.BORO.unique()

array(['QUEENS', 'BRONX', 'MANHATTAN', 'STATEN ISLAND', 'BROOKLYN'],
      dtype=object)

In [50]:

#change OCCUR_DATE to datetime format
df.OCCUR_DATE = pd.to_datetime(df['OCCUR_DATE'])
#change OCCUR_TIME to datetime format
df.OCCUR_TIME = pd.to_datetime(df['OCCUR_TIME']).dt.time

In [55]:
fig, ax = plt.subplots(figsize = (15, 7))
df.groupby('BORO').count()['PRECINCT'].plot(ax = ax, kind = 'bar')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦